{% extends 'base.html.twig' %}

{% block title %} Résultats : {{ question.textQuestion }} {% endblock %}

{% block body %}
    <main style="padding: 2%;">
    <h1> Results of the question : {{ question.textQuestion }} </h1>

    <div style="margin-left: 2%; font-size: 20px">
        {% for reponse in reponses %}
            <p> {{reponse.textReponse}} = {{ resultats[reponse.id] }} vote(s)</p>
        {% endfor %}
    </div>

    <p> Total number of votes : {{ resultsTotal }} </p>

    <a href="{{ path('questions_index') }}"> <p style="margin-top: 2%; margin-left: 2%;"> back to list </p> </a>

    </main>
{% endblock %}